# Tugas 3
## CSM (Conventional and Social Media Movies) Dataset 2014 and 2015
### Pre-processing Data
### a. Missing Value

In [1]:
import pandas as pd
import numpy as np

In [2]:
datacsm = pd.read_csv("E:\Kuliah\Semester 6\DATMIN\Data Transformasi_06211640000001\CSM dataset 2014 and 2015.csv")
np.sum(datacsm.isnull())

Movie                   0
Year                    0
Gross                   0
Ratings                 0
Budget                  1
Screens                 9
Views                   0
Likes                   0
Dislikes                0
Comments                0
Aggregate Followers    21
dtype: int64

In [3]:
datacsmdes=datacsm.drop(['Movie','Year'],1)
datacsmdes.describe()

,Gross,Ratings,Budget,Screens,Views,Likes,Dislikes,Comments,Aggregate Followers
count,2.170000e+02,217.000000,2.160000e+02,208.000000,2.170000e+02,217.000000,217.000000,217.000000,1.960000e+02
mean,6.951567e+07,6.432719,4.833795e+07,2194.009615,3.645243e+06,12638.557604,662.511521,1795.562212,3.038193e+06
std,9.032310e+07,0.986618,5.522159e+07,1475.692020,4.545042e+06,29586.225415,1248.918655,3636.194147,4.886278e+06
min,2.470000e+03,3.100000,7.000000e+04,2.000000,6.980000e+02,1.000000,0.000000,0.000000,1.066000e+03
25%,8.090000e+06,5.800000,8.983195e+06,429.000000,5.951940e+05,1606.000000,105.000000,239.000000,1.830250e+05
50%,3.930000e+07,6.500000,2.650000e+07,2777.000000,2.389347e+06,5858.000000,336.000000,797.000000,1.052600e+06
75%,9.040000e+07,7.100000,6.500000e+07,3373.000000,5.085068e+06,14684.000000,689.000000,2046.000000,3.694500e+06
max,6.430000e+08,8.700000,2.500000e+08,4324.000000,3.262678e+07,370552.000000,13960.000000,38363.000000,3.103000e+07

In [4]:
datacsm['Budget']=datacsm['Budget'].fillna(datacsm['Budget'].mean())
datacsm['Screens']=datacsm['Screens'].fillna(datacsm['Screens'].mean())
datacsm['Aggregate Followers']=datacsm['Aggregate Followers'].fillna(datacsm['Aggregate Followers'].mean())
np.sum(datacsm.isnull())

Movie                  0
Year                   0
Gross                  0
Ratings                0
Budget                 0
Screens                0
Views                  0
Likes                  0
Dislikes               0
Comments               0
Aggregate Followers    0
dtype: int64

In [5]:
datacsmnomiss = datacsm
datacsmnomiss.head()

,Movie,Year,Gross,Ratings,Budget,Screens,Views,Likes,Dislikes,Comments,Aggregate Followers
0,13 Sins,2014,9130,6.3,4000000.0,45.0,3280543,4632,425,636,1120000.0
1,22 Jump Street,2014,192000000,7.1,50000000.0,3306.0,583289,3465,61,186,12350000.0
2,3 Days to Kill,2014,30700000,6.2,28000000.0,2872.0,304861,328,34,47,483000.0
3,300: Rise of an Empire,2014,106000000,6.3,110000000.0,3470.0,452917,2429,132,590,568000.0
4,A Haunted House 2,2014,17300000,4.7,3500000.0,2310.0,3145573,12163,610,1082,1923800.0

In [6]:
datacsmnomiss.to_excel('CSM dataset 2014 and 2015 tanpa missing value.xlsx')

### b. Missing Value, Outlier

In [7]:
from scipy import stats
data1=datacsm.drop(['Movie','Year'],1)
z = np.abs(stats.zscore(data1._get_numeric_data()))
print(z)
datacsmnomissout=datacsm[(z<3).all(axis=1)]
print(datacsmnomissout.shape)

[[0.77131149 0.13483004 0.80663564 ... 0.19061344 0.3196318  0.41412055]
 [1.35920415 0.67789549 0.03023744 ... 0.48273945 0.44367371 2.01033451]
 [0.43073603 0.23642073 0.37000621 ... 0.50440813 0.48198888 0.55164307]
 ...
 [0.7699591  0.84596488 0.7975392  ... 0.05016824 0.18535659 0.15237723]
 [0.76998129 0.88107687 0.80663564 ... 0.5092234  0.49108528 0.62806846]
 [0.77023652 0.13483004 0.85211788 ... 0.51002594 0.48336712 0.39943997]]
(198, 11)

In [8]:
datacsmnomissout.head(10)

,Movie,Year,Gross,Ratings,Budget,Screens,Views,Likes,Dislikes,Comments,Aggregate Followers
0,13 Sins,2014,9130,6.3,4000000.0,45.000000,3280543,4632,425,636,1120000.0
1,22 Jump Street,2014,192000000,7.1,50000000.0,3306.000000,583289,3465,61,186,12350000.0
2,3 Days to Kill,2014,30700000,6.2,28000000.0,2872.000000,304861,328,34,47,483000.0
3,300: Rise of an Empire,2014,106000000,6.3,110000000.0,3470.000000,452917,2429,132,590,568000.0
4,A Haunted House 2,2014,17300000,4.7,3500000.0,2310.000000,3145573,12163,610,1082,1923800.0
5,A Long Way Off,2014,29000,4.6,500000.0,2194.009615,91137,112,7,1,310000.0
6,A Million Ways to Die in the West,2014,42600000,6.1,40000000.0,3158.000000,3013011,9595,419,1020,8153000.0
7,A Most Violent Year,2014,5750000,7.1,20000000.0,818.000000,1854103,2207,197,593,130655.0
8,A Walk Among the Tombstones,2014,26000000,6.5,28000000.0,2714.000000,2213659,2210,419,382,125646.0
11,And So It Goes,2014,15200000,5.7,30000000.0,1762.000000,519327,963,94,70,386400.0

In [9]:
datacsmnomissout.to_excel('CSM dataset 2014 and 2015 tanpa missing value, outlier.xlsx')

### c.Missing Value, Transformasi

In [10]:
x = datacsm.iloc[0:217,2:11]
x.head()

,Gross,Ratings,Budget,Screens,Views,Likes,Dislikes,Comments,Aggregate Followers
0,9130,6.3,4000000.0,45.0,3280543,4632,425,636,1120000.0
1,192000000,7.1,50000000.0,3306.0,583289,3465,61,186,12350000.0
2,30700000,6.2,28000000.0,2872.0,304861,328,34,47,483000.0
3,106000000,6.3,110000000.0,3470.0,452917,2429,132,590,568000.0
4,17300000,4.7,3500000.0,2310.0,3145573,12163,610,1082,1923800.0

In [11]:
#normalization
from sklearn.preprocessing import normalize
xnorm = normalize(x,norm='l2') #default norm L2 and max
xnorm = pd.DataFrame(xnorm)
xnorm.tail()

,0,1,2,3,4,5,6,7,8
212,0.601194,7.314228e-07,0.713583,0.000003,0.359670,0.001641,0.000027,0.000116,0.000197
213,0.194934,5.129855e-07,0.968403,0.000048,0.155553,0.000436,0.000079,0.000088,0.000438
214,0.016892,7.220979e-07,0.580257,0.000010,0.655699,0.001852,0.000077,0.000318,0.482774
215,0.032212,1.822874e-06,0.998835,0.000003,0.015912,0.000029,0.000007,0.000003,0.032212
216,0.055297,3.286513e-06,0.782503,0.000011,0.023456,0.000057,0.000014,0.000022,0.619743

In [12]:
# Softmax
## Softmax merupakan metode normalisasi pengembangan transformasi secara linier. 
## Metode ini sangat berguna pada saat data-data yang ada melibatkan data-data outlier.
def softmax(x):
    return np.exp(x)/np.sum(np.exp(x), axis = 0)
xsoft = softmax(xnorm)
xsoft = pd.DataFrame(xsoft)
print(xsoft)

            0         1         2         3         4         5         6  \
0    0.002337  0.004608  0.005237  0.004608  0.007650  0.004610  0.004609
1    0.006128  0.004608  0.003163  0.004608  0.004128  0.004607  0.004608
2    0.004883  0.004608  0.004826  0.004608  0.004147  0.004606  0.004608
3    0.004669  0.004608  0.005054  0.004608  0.004128  0.004607  0.004608
4    0.006089  0.004608  0.002987  0.004609  0.004901  0.004610  0.004608
5    0.002449  0.004608  0.005692  0.004625  0.004796  0.004607  0.004608
6    0.004797  0.004608  0.004841  0.004608  0.004332  0.004607  0.004608
7    0.003072  0.004608  0.006407  0.004608  0.004498  0.004607  0.004608
8    0.004601  0.004608  0.005112  0.004608  0.004361  0.004607  0.004608
9    0.005652  0.004608  0.003089  0.004608  0.004526  0.004607  0.004608
10   0.006253  0.004608  0.002903  0.004608  0.004162  0.004607  0.004608
11   0.003665  0.004608  0.006001  0.004608  0.004180  0.004607  0.004608
12   0.006027  0.004608  0.002647  0.004608  0.005100  0.004608  0.004608
13   0.005173  0.004608  0.004494  0.004608  0.004152  0.004607  0.004608
14   0.002745  0.004608  0.006553  0.004608  0.004625  0.004607  0.004608
15   0.002337  0.004608  0.005680  0.004608  0.007107  0.004611  0.004608
16   0.002364  0.004608  0.006158  0.004608  0.005314  0.004609  0.004608
17   0.005715  0.004608  0.003780  0.004608  0.004605  0.004609  0.004608
18   0.005204  0.004608  0.004466  0.004608  0.004187  0.004607  0.004608
19   0.005859  0.004608  0.003610  0.004608  0.004360  0.004607  0.004608
20   0.004937  0.004608  0.004701  0.004608  0.004684  0.004608  0.004608
21   0.006251  0.004608  0.002873  0.004608  0.004392  0.004607  0.004608
22   0.004180  0.004608  0.005500  0.004608  0.004371  0.004607  0.004608
23   0.002827  0.004608  0.005052  0.004608  0.006470  0.004611  0.004608
24   0.002356  0.004608  0.006686  0.004618  0.004146  0.004606  0.004608
25   0.005073  0.004608  0.003547  0.004608  0.005864  0.004612  0.004609
26   0.005385  0.004608  0.004251  0.004608  0.004126  0.004606  0.004608
27   0.005067  0.004608  0.004623  0.004608  0.004143  0.004607  0.004608
28   0.004758  0.004608  0.004959  0.004608  0.004161  0.004607  0.004608
29   0.005790  0.004608  0.003680  0.004609  0.004577  0.004607  0.004608
..        ...       ...       ...       ...       ...       ...       ...
187  0.005565  0.004608  0.004019  0.004608  0.004286  0.004607  0.004608
188  0.003485  0.004608  0.006136  0.004608  0.004360  0.004607  0.004608
189  0.005207  0.004608  0.004450  0.004608  0.004379  0.004608  0.004608
190  0.003025  0.004608  0.006454  0.004608  0.004206  0.004607  0.004608
191  0.005409  0.004608  0.004034  0.004608  0.005121  0.004611  0.004608
192  0.005741  0.004608  0.003781  0.004608  0.004385  0.004608  0.004608
193  0.004885  0.004608  0.004816  0.004608  0.004316  0.004608  0.004608
194  0.006260  0.004608  0.002820  0.004608  0.004409  0.004607  0.004608
195  0.006177  0.004608  0.002746  0.004608  0.004800  0.004608  0.004608
196  0.004673  0.004608  0.004977  0.004608  0.004736  0.004609  0.004608
197  0.005720  0.004608  0.003078  0.004608  0.005768  0.004613  0.004608
198  0.006028  0.004608  0.003366  0.004608  0.004117  0.004606  0.004608
199  0.004855  0.004608  0.004849  0.004608  0.004291  0.004607  0.004608
200  0.005875  0.004608  0.003501  0.004608  0.004477  0.004610  0.004608
201  0.006184  0.004608  0.002787  0.004608  0.004869  0.004608  0.004608
202  0.005124  0.004608  0.003722  0.004608  0.006502  0.004613  0.004609
203  0.005159  0.004608  0.004518  0.004608  0.004206  0.004607  0.004608
204  0.005467  0.004608  0.003890  0.004608  0.005306  0.004609  0.004608
205  0.003464  0.004608  0.005812  0.004608  0.005686  0.004612  0.004609
206  0.006324  0.004608  0.002564  0.004609  0.004129  0.004606  0.004608
207  0.004498  0.004608  0.005194  0.004609  0.004119  0.004606  0.004608
208  0.003347  0.004608  0.006218  0.004608  0.004546  0.004607  0.004608
209  0.003011  0.004608  0.006446  0.004608  0.004435  0.004607  0.004608
210  0.002644  0.004608  0.006612  0.004608  0.004386  0.004607  0.004608
211  0.002580  0.004608  0.006648  0.004608  0.004259  0.004607  0.004608
212  0.004255  0.004608  0.005021  0.004608  0.005898  0.004614  0.004608
213  0.002835  0.004608  0.006479  0.004608  0.004809  0.004608  0.004609
214  0.002372  0.004608  0.004395  0.004608  0.007930  0.004615  0.004609
215  0.002409  0.004608  0.006679  0.004608  0.004182  0.004607  0.004608
216  0.002465  0.004608  0.005380  0.004608  0.004214  0.004607  0.004608

            7         8
0    0.004609  0.005145
1    0.004608  0.004431
2    0.004608  0.004213
3    0.004608  0.004180
4    0.004608  0.004633
5    0.004608  0.007005
6    0.004608  0.004780
7    0.004608  0.004190
8    0.004608  0.004178
9    0.004608  0.006181
10   0.004608  0.004164
11   0.004608  0.004212
12   0.004608  0.005182
13   0.004608  0.004367
14   0.004608  0.004176
15   0.004608  0.004314
16   0.004608  0.005646
17   0.004608  0.004194
18   0.004608  0.004167
19   0.004608  0.004325
20   0.004608  0.004330
21   0.004608  0.004181
22   0.004608  0.004566
23   0.004609  0.006800
24   0.004608  0.004173
25   0.004609  0.006032
26   0.004608  0.004273
27   0.004608  0.004166
28   0.004608  0.004237
29   0.004608  0.004166
..        ...       ...
187  0.004608  0.004322
188  0.004608  0.004192
189  0.004608  0.004164
190  0.004608  0.004338
191  0.004608  0.004228
192  0.004608  0.004164
193  0.004608  0.004191
194  0.004608  0.004357
195  0.004608  0.004726
196  0.004608  0.004303
197  0.004609  0.004971
198  0.004608  0.004245
199  0.004608  0.004239
200  0.004608  0.004709
201  0.004609  0.004492
202  0.004609  0.004165
203  0.004608  0.004164
204  0.004609  0.004205
205  0.004609  0.004185
206  0.004608  0.004415
207  0.004608  0.004607
208  0.004608  0.004185
209  0.004608  0.004319
210  0.004608  0.004378
211  0.004608  0.004244
212  0.004609  0.004165
213  0.004608  0.004166
214  0.004610  0.006748
215  0.004608  0.004300
216  0.004608  0.007739

[217 rows x 9 columns]

In [13]:
xsoft.to_excel('CSM dataset 2014 and 2015 tanpa missing value dan telah ditransformasikan.xlsx')

### d. Missing Value, Outlier, Transformasi

In [14]:
xx = datacsmnomissout.iloc[0:198,2:11]
xx.head()

,Gross,Ratings,Budget,Screens,Views,Likes,Dislikes,Comments,Aggregate Followers
0,9130,6.3,4000000.0,45.0,3280543,4632,425,636,1120000.0
1,192000000,7.1,50000000.0,3306.0,583289,3465,61,186,12350000.0
2,30700000,6.2,28000000.0,2872.0,304861,328,34,47,483000.0
3,106000000,6.3,110000000.0,3470.0,452917,2429,132,590,568000.0
4,17300000,4.7,3500000.0,2310.0,3145573,12163,610,1082,1923800.0

In [15]:
#normalization
from sklearn.preprocessing import normalize
xxnorm = normalize(xx,norm='l2') #default norm L2 and max
xxnorm = pd.DataFrame(xxnorm)
xxnorm.tail()

,0,1,2,3,4,5,6,7,8
193,0.601194,7.314228e-07,0.713583,0.000003,0.359670,0.001641,0.000027,0.000116,0.000197
194,0.194934,5.129855e-07,0.968403,0.000048,0.155553,0.000436,0.000079,0.000088,0.000438
195,0.016892,7.220979e-07,0.580257,0.000010,0.655699,0.001852,0.000077,0.000318,0.482774
196,0.032212,1.822874e-06,0.998835,0.000003,0.015912,0.000029,0.000007,0.000003,0.032212
197,0.055297,3.286513e-06,0.782503,0.000011,0.023456,0.000057,0.000014,0.000022,0.619743

In [16]:
# Softmax
def softmax(xx):
    return np.exp(xx)/np.sum(np.exp(xx), axis = 0)
xxsoft = softmax(xxnorm)
xxsoft = pd.DataFrame(xxsoft)
print(xxsoft)

            0         1         2         3         4         5         6  \
0    0.002607  0.005051  0.005625  0.005050  0.008406  0.005054  0.005051
1    0.006836  0.005051  0.003398  0.005050  0.004536  0.005049  0.005050
2    0.005447  0.005051  0.005183  0.005050  0.004556  0.005049  0.005050
3    0.005208  0.005051  0.005428  0.005050  0.004536  0.005049  0.005050
4    0.006792  0.005051  0.003208  0.005051  0.005385  0.005053  0.005051
5    0.002732  0.005051  0.006113  0.005069  0.005270  0.005050  0.005050
6    0.005352  0.005051  0.005200  0.005050  0.004760  0.005050  0.005050
7    0.003427  0.005051  0.006881  0.005050  0.004943  0.005050  0.005050
8    0.005133  0.005051  0.005491  0.005050  0.004792  0.005049  0.005050
9    0.004089  0.005051  0.006446  0.005050  0.004593  0.005049  0.005050
10   0.005771  0.005051  0.004827  0.005050  0.004562  0.005049  0.005050
11   0.003062  0.005051  0.007038  0.005050  0.005082  0.005049  0.005050
12   0.002606  0.005051  0.006101  0.005050  0.007810  0.005054  0.005051
13   0.002637  0.005051  0.006614  0.005050  0.005839  0.005051  0.005051
14   0.006375  0.005051  0.004060  0.005050  0.005060  0.005052  0.005051
15   0.005806  0.005051  0.004797  0.005050  0.004600  0.005049  0.005050
16   0.006535  0.005051  0.003878  0.005051  0.004791  0.005050  0.005051
17   0.005508  0.005051  0.005050  0.005050  0.005147  0.005051  0.005051
18   0.006973  0.005051  0.003086  0.005050  0.004826  0.005050  0.005050
19   0.004663  0.005051  0.005908  0.005051  0.004803  0.005050  0.005050
20   0.003154  0.005051  0.005427  0.005050  0.007109  0.005054  0.005051
21   0.002628  0.005051  0.007181  0.005061  0.004555  0.005049  0.005050
22   0.005659  0.005051  0.003809  0.005050  0.006444  0.005055  0.005051
23   0.006008  0.005051  0.004566  0.005050  0.004534  0.005049  0.005050
24   0.005652  0.005051  0.004966  0.005050  0.004552  0.005049  0.005050
25   0.005307  0.005051  0.005326  0.005050  0.004572  0.005049  0.005050
26   0.006459  0.005051  0.003952  0.005051  0.005029  0.005050  0.005051
27   0.006220  0.005051  0.004315  0.005050  0.004535  0.005049  0.005050
28   0.005560  0.005051  0.005065  0.005050  0.004555  0.005049  0.005050
29   0.004841  0.005051  0.005748  0.005050  0.005007  0.005051  0.005051
..        ...       ...       ...       ...       ...       ...       ...
168  0.006208  0.005051  0.004317  0.005050  0.004710  0.005050  0.005050
169  0.003887  0.005051  0.006590  0.005050  0.004791  0.005050  0.005051
170  0.005808  0.005051  0.004780  0.005050  0.004812  0.005050  0.005051
171  0.003374  0.005051  0.006932  0.005050  0.004621  0.005049  0.005050
172  0.006034  0.005051  0.004333  0.005050  0.005627  0.005054  0.005051
173  0.006404  0.005051  0.004061  0.005050  0.004819  0.005051  0.005051
174  0.005449  0.005051  0.005173  0.005050  0.004742  0.005051  0.005050
175  0.006983  0.005051  0.003029  0.005050  0.004845  0.005050  0.005050
176  0.006890  0.005051  0.002949  0.005050  0.005275  0.005051  0.005051
177  0.005212  0.005051  0.005346  0.005050  0.005204  0.005052  0.005051
178  0.006381  0.005051  0.003306  0.005050  0.006339  0.005057  0.005051
179  0.006724  0.005051  0.003615  0.005050  0.004524  0.005049  0.005050
180  0.005416  0.005051  0.005208  0.005050  0.004715  0.005050  0.005050
181  0.006554  0.005051  0.003761  0.005051  0.004919  0.005053  0.005051
182  0.006898  0.005051  0.002993  0.005051  0.005350  0.005051  0.005051
183  0.005716  0.005051  0.003998  0.005051  0.007145  0.005057  0.005051
184  0.005755  0.005051  0.004853  0.005050  0.004622  0.005050  0.005050
185  0.006098  0.005051  0.004178  0.005051  0.005830  0.005052  0.005051
186  0.003864  0.005051  0.006242  0.005051  0.006248  0.005055  0.005051
187  0.007055  0.005051  0.002754  0.005051  0.004537  0.005049  0.005050
188  0.005018  0.005051  0.005579  0.005051  0.004526  0.005049  0.005050
189  0.003733  0.005051  0.006678  0.005051  0.004995  0.005050  0.005050
190  0.003359  0.005051  0.006923  0.005050  0.004873  0.005050  0.005050
191  0.002950  0.005051  0.007102  0.005050  0.004819  0.005050  0.005050
192  0.002878  0.005051  0.007140  0.005050  0.004680  0.005050  0.005050
193  0.004747  0.005051  0.005393  0.005050  0.006481  0.005057  0.005051
194  0.003162  0.005051  0.006959  0.005050  0.005284  0.005051  0.005051
195  0.002646  0.005051  0.004720  0.005050  0.008713  0.005059  0.005051
196  0.002687  0.005051  0.007174  0.005050  0.004596  0.005049  0.005050
197  0.002750  0.005051  0.005778  0.005050  0.004630  0.005049  0.005051

            7         8
0    0.005051  0.005649
1    0.005050  0.004865
2    0.005050  0.004625
3    0.005050  0.004589
4    0.005051  0.005086
5    0.005050  0.007690
6    0.005050  0.005248
7    0.005050  0.004600
8    0.005050  0.004587
9    0.005050  0.004624
10   0.005050  0.004794
11   0.005050  0.004585
12   0.005051  0.004736
13   0.005050  0.006198
14   0.005051  0.004604
15   0.005050  0.004575
16   0.005051  0.004748
17   0.005051  0.004754
18   0.005050  0.004590
19   0.005051  0.005013
20   0.005051  0.007465
21   0.005050  0.004582
22   0.005052  0.006622
23   0.005050  0.004691
24   0.005050  0.004574
25   0.005050  0.004652
26   0.005051  0.004574
27   0.005050  0.004599
28   0.005050  0.004595
29   0.005051  0.004592
..        ...       ...
168  0.005050  0.004745
169  0.005051  0.004602
170  0.005051  0.004572
171  0.005050  0.004762
172  0.005051  0.004642
173  0.005051  0.004572
174  0.005050  0.004601
175  0.005050  0.004783
176  0.005051  0.005188
177  0.005050  0.004724
178  0.005051  0.005457
179  0.005050  0.004660
180  0.005050  0.004654
181  0.005050  0.005170
182  0.005051  0.004932
183  0.005051  0.004573
184  0.005050  0.004572
185  0.005051  0.004616
186  0.005051  0.004595
187  0.005050  0.004847
188  0.005050  0.005058
189  0.005050  0.004595
190  0.005050  0.004742
191  0.005050  0.004807
192  0.005050  0.004659
193  0.005051  0.004573
194  0.005051  0.004574
195  0.005052  0.007409
196  0.005050  0.004721
197  0.005050  0.008496

[198 rows x 9 columns]

In [17]:
xxsoft.to_excel('CSM dataset 2014 dan 2015 tanpa missing value dan outlier serta telah ditransformasikan.xlsx')